<div class="entry-icon-wrapper">
    {{ if .Params.Icon }}
        <img class="entry-icon img-fit-contain"
            src="{{ "/" | relURL }}{{ .File.Dir }}{{ .Params.Icon }}"
            alt="{{ .Title }}"
        />
    {{ else }}
        <span class="entry-icon">...</span>
    {{ end }}
</div>